
.container-body h1{
    display: flex;
    justify-content: center;
}

.background-image {
    position: relative;
    background-image: url(images/fondo-gimnasio.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #boton_iniciar_sesion{
    background-color: #252525;
    color: #ffffff;
  }

  #boton_iniciar_sesion:hover{
    background-color: #646464;
  }

  #boton_registrarse{
    border: 2px solid #252525;
    color: #252525;
  }

  #boton_registrarse:hover{
    background-color: #646464;
    color: #ffffff;
  }
  
  .background-image p {
    color: #dfb705;
    text-shadow: -1px 1px 1px #ffffff;
    font-size: 3em;
  }
  
  #imagen-primer-parte {
    width: 30em;
  }
  
  .seccion-servicios h3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #ffffff;
  }